.error{
    &__background {
        background-image: url('https://www.eurocockpit.be/sites/default/files/2017-03/Picture_Sleeping_pilot.jpeg');
        background-size: cover;
    }

    &__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        width: 300px;
        align-self: center;
        height: 50px;
        font-size: 30px;
        border-radius: 10px;
        opacity: .9;
        text-align: center;
        background-color: #14294b;
        color: aliceblue;
        transition: all .2s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    &__text {
        color: aliceblue;
    }
}

