  .footer {
    padding: 15px 0 5px 0;
    background-color: rgb(156, 209, 255);

    &__content {
        display: flex;
        justify-content: space-between;
      }
  }
  
  .github,
  .year,
  .gh__link {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #14294b;
  }

  .year {
    margin-right: 300px;
    margin-left: 110px;
  }
   
  .gh {
    &__link {
        text-decoration: none;
      }
  }
  
  .rss {
    height: 24px;
  }
  
  .rsschool {
    height: 24px;
  }