.item-page {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    min-height: 70vh;
    max-height: 650px;

    &__img-box {
        display: flex;
        flex-direction: column;
        height: 225px;
        justify-content: space-between;
    }

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 100px;
        width: 680px;
    }

    &__info-container {
        display: flex;
        height: 300px;
        padding-right: 10px;
        &_active{
            background-color: rgb(209, 232, 252);
            border-radius: 30px;
        }
    }

    &__route {
        margin-bottom: 15px;
        font-family: 'Roboto';
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;
        height: 270px;
        margin-top: 5px;
    }

    &__title{
        /*&_incart{
            background-color: red; //temp
        }*/
        margin-bottom: 20px;
    }
    &__img {
        max-height: 90px;
        border-radius: 8px;
        max-width: 160px;
        cursor: pointer;
    }

    &__main-img {
        max-height: 280px;
        width: 430px;
        margin: 0px 20px 20px 0px;
        border-radius: 30px;
    }

    &__desc {
        font-size: 18px;
        margin-top: 15px;
        width: 600px;
    }

    &__buttons-box {
        margin-top: 25px;
        width: 330px;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        width: 150px;
        height: 45px;
        font-size: 20px;
        color: aliceblue;
        background-color: #14294b;
        border-radius: 15px;
        opacity: .9;
        transition: all .2s;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
}

.bread__main {
    cursor: pointer;
}