.valid {
    background-color: rgb(181, 255, 181);
}

.invalid {
    background-color: rgb(255, 178, 178);
}

.onfocus {
    background-color: rgb(219, 238, 255);
}

.label_error {
    color: red;
}

.success-payment {
    color: green;
    font-size: 18px;
}

.error-payment {
    color: red;
    font-size: 18px;
}

.form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 115px;
        width: 470px;

    }

    &__payment {
        position: relative;
        margin-top: 50px;
        display: flex;
        width: 450px;
        height: 220px;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 30px;
        border: 2px solid #14294b;
        border-radius: 10px;
        background-color: rgb(156, 209, 255);
    }

    &__cart-img {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    &__label {
        font-size: 18px;
    }

    &__input {
        margin-left: 10px;
        margin-right: 15px;
        border: 1px solid #14294b;
        border-radius: 3px;
        height: 24px;
        font-size: 18px;
        padding-left: 5px;

        &-container {
            display: flex;
            align-items: center;
        }
        &-date {
            width: 68px;
        }
        &-cvc {
            width: 35px;
        }
    }

    &__button {
        display: block;
        width: 150px;
        margin-bottom: 10px;
        align-self: center;
        height: 40px;
        font-size: 25px;
        border-radius: 8px;
        opacity: .9;
        text-align: center;
        background-color: #14294b;
        color: aliceblue;
        transition: all .2s;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }

    &__container {
        position: absolute;
        background-color: aliceblue;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border: 2px solid #14294b;
        border-radius: 15px;
    }

    &__background {
        position: absolute;
        background-color: rgba(0,0,0,.7);
        width: 100%;
        height: 100vh;
        z-index: 2;
    }
}