* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  min-height: 100vh;
}

@import 'fonts';
@import 'header';
@import 'main';
@import 'item';
@import 'footer';
@import 'popup';

.hide {
  visibility: hidden;
  opacity: 0;
}